.pageHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pageHeader .headerSection {
    flex: 1;
}

.pageHeader button {
    padding: 10px 25px 10px 30px;
    background-color: transparent;
    border: 0px solid transparent;
    width: 100px;
}

.pageHeader button:hover {
    cursor: pointer;
    text-shadow: 30px 3px rgba(0,0,0,.4);
}

.pageHeader .pageName {
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}