@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.learnPage {
    text-align: center;
}

.constellationList {
    display: block;
}


.listButton {
    padding: 3vh 4vh;
    background: #FFFFFF;
    color: #5D5D5D;
}
